@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');




header{
    background-image: url(/img/wall.png);
    height: 20vh;
    
   
    
}
h1{
    font-size: 50px;
    padding-top: 30px;
    font-family: "Edu Tas Beginner", sans-serif;
}
.card-text{
    font-family: "Edu Tas Beginner", sans-serif;
}
main{
    min-height: 80vh;
    background-image: url(/img/cork.png);
}

.img-container{
    
    overflow: hidden;

}


.card:hover{
    transform: rotate(20deg); 
    
}
a.card-img-top:hover{}
a.card-img-top:active{
    font-size: 150%;
}